extends ../layout

block content
  .main.container
    h1.mdc-typography--display1 Profile
    .row#profile_form
      .col-md-6.col-md-offset-3
        form(method='POST' action='/account/profile')
          input(type='hidden', name='_csrf', value=_csrf)
          section#demo-textfield-wrapper
            .mdc-textfield
              input#my-textfield.mdc-textfield__input(type='text', name='name', aria-controls='my-textfield-helptext', data-demo-no-auto-js='', value=user.profile.name)
              label.mdc-textfield__label(for='my-textfield') Name
          section#demo-textfield-wrapper
            .mdc-textfield
              input#my-textfield.mdc-textfield__input(type='text', name='email', aria-controls='my-textfield-helptext', data-demo-no-auto-js='', autocomplete='email', value=user.email, required)
              label.mdc-textfield__label(for='my-textfield') Email
          section
            h4 Gender
            .mdc-form-field
              .mdc-radio
                input#ex2-radio1.mdc-radio__native-control(type='radio', value='male', checked=user.profile.gender=="male", name='gender')
                .mdc-radio__background
                  .mdc-radio__outer-circle
                  .mdc-radio__inner-circle
              label#ex2-radio1-label(for='ex2-radio1') Male
            .mdc-form-field
              .mdc-radio
                input#ex2-radio2.mdc-radio__native-control(type='radio', value='female', checked=user.profile.gender=="female", name='gender')
                .mdc-radio__background
                  .mdc-radio__outer-circle
                  .mdc-radio__inner-circle
              label#ex2-radio2-label(for='ex2-radio2') Female
            .mdc-form-field
              .mdc-radio
                input#ex2-radio3.mdc-radio__native-control(type='radio', value='other', checked=user.profile.gender=="other", name='gender')
                .mdc-radio__background
                  .mdc-radio__outer-circle
                  .mdc-radio__inner-circle
              label#ex2-radio3-label(for='ex2-radio3') Other
          section#demo-textfield-wrapper
            .mdc-textfield
              input#my-textfield.mdc-textfield__input(type='text', name='location', aria-controls='my-textfield-helptext', data-demo-no-auto-js='', value=user.profile.location)
              label.mdc-textfield__label(for='my-textfield') Location
          section#demo-textfield-wrapper
            .mdc-textfield
              input#my-textfield.mdc-textfield__input(type='text', name='website', aria-controls='my-textfield-helptext', data-demo-no-auto-js='', value=user.profile.website)
              label.mdc-textfield__label(for='my-textfield') Website
          div.form-group
            button.mdc-button.mdc-button--raised.mdc-button--primary(type='button', data-action="update_profile")
              | Update
